/* YOUR CUSTOM STYLES */

/*.carousel {
    height: 245px;
    margin-top: 0px;
    margin-bottom: 30px;
}*/

.busana.carousel-control.left,
.busana.carousel-control.right {
  background: none;
  border: none;
}

.busana.carousel-control.left {
  margin-left: -25px;
}

.busana.carousel-control.right {
  margin-right: -25px;
}

.busana.carousel-control {
  width: 0%;
}

.busana.carousel-control .icon-prev, .busana.carousel-control .icon-next {
    width:10px;
    height:10px;
    /* margin-top: -15px; */
    font-size: 70px;
}

.carousel-thumbnails .carousel-indicators {
    margin-bottom: -330px;
    position: absolute;
    margin-top: 200px;
}


/* btn cewek-cowok */
.btn-cewek.btn-floating{
  margin-top: -620px;
  margin-left: 200px;
}

.btn-cowok.btn-floating{
  margin-top: -620px;
  margin-left: 450px;
}

/* /btn cewek-cowok */


.btn-galery_1.btn-floating {
    margin-top: -620px;
    margin-left: 195px;
}

.btn-galery_2.btn-floating {
    margin-top: -620px;
    margin-left: 120px;
}

.btn-galery_3.btn-floating {
    margin-top: -620px;
    margin-left: 120px;
}

.btn-galery_4.btn-floating {
    margin-top: -620px;
    margin-left: 125px;
}

.btn-galery3-left.btn-floating{
  margin-top: -620px;
  margin-left: 290px;
}

.btn-galery3-right.btn-floating{
  margin-top: -620px;
  margin-left: 290px;
}
